/* src/HeroSection.css */
.hero-section {
    background-image: url('../backgroundherosection.png');
    background-size: cover;
    background-position: center;
    color: white;
}

.hero-section .container {
    max-width: 800px;
}