pandas
scipy
djangorestframework
scikit-learn
matplotlib
seaborn
jupyter
djangorestframework-simplejwt
django-filter
psycopg2-binary
gunicorn
qiskit
biopython
qutip
pennylane
django-cors-headers
Django>=3.2,<4.0
djangorestframework
channels
numpy
celery
django-celery-beat
django-celery-results
django-allauth
django-debug-toolbar
django-extensions
django-cacheops
django-guardian
django-two-factor-auth
pytest-django
factory_boy
coverage
django-storages
django-environ